html {
    font-size: 62.5%;
    background-color: #000099;
    color: rgb(61, 61, 61);
    font-family: Helvetica, Arial, sans-serif;
}

body {
    text-align: center;
    max-width: 600px;;
    margin: 0 auto;
    font-size: 1.6rem;
}

h1 {
    color: white;
}

ul {
 list-style: none;
}

li {
   background-color: white;
   border-radius: 5px;
}

input, li {
    padding: 10px;
   margin: 10px;
}

input[type="submit"] {
    border-radius: 8px;
    cursor: pointer;
}
input[type="submit"]:focus {
    outline: 0;
}
 
input[type="submit"]:hover {
    transition: all 0.2s;
   
    background-color: rgb(255, 255, 255);
}

input[type="text"] {
    border-radius:3px;
}
input::placeholder {
    color:rgb(190, 190, 190);
}
